{% extends 'base.html.twig' %}

{% block title %}Edit Team{% endblock %}

{% block main %}

    <div class="d-flex justify-content-center align-items-center flex-grow-1">
        <div class="col-lg-10 col-sm-12 block-form box-shadow">
            <h1>Modifier l'équipe</h1>
            {{ include('team/_form.html.twig', {'button_label': 'Modifier'}) }}
            <div class="d-flex justify-content-between mt-3">
                <a href="{{ path('app_club_show', {'id': team.club.id}) }}">Retour à la liste</a>
                <a href="{{ path('app_team_delete', {'id' : team.id}) }}" class="btn custom-btn">Supprimer</a>
            </div>
        </div>
    </div>

{% endblock %}
