{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block main %}

    <div class="d-flex justify-content-center align-items-center flex-grow-1">
        <div class="col-lg-10 col-sm-12 block-form box-shadow">
            <h1>Nouvelle équipe</h1>
            {{ include('team/_form.html.twig') }}
            <div class="d-flex justify-content-end">
                <a href="{{ path('app_club_show', {'id': club.id}) }}">Retour</a>
            </div>
        </div>
    </div>

{% endblock %}
