{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block main %}

    <div class="mb-2">
        <a href="{{ path('app_club_show', {'id': team.club.id}) }}">Retour</a>
        {% include('partials/_team_card.html.twig') %}
    </div>

    <div class="row justify-content-between mb-md-5 mb-1">
        {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_COACH') %}
            <div class="col-lg-4 col-sm-12">
                <a class="new-custom-btn-big  text-center box-shadow"
                   href="{{ path('app_user_new') }}">Ajouter un joueur</a>
            </div>
        {% endif %}
        <div class="col-lg-4 col-sm-12">
            <a class="new-custom-btn-big text-center box-shadow"
               href="#">Matchs</a>
        </div>
        <div class="col-lg-4 col-sm-12">
            <a class="new-custom-btn-big text-center box-shadow"
               href="{{ path("app_team_trainings", {'id': team.id}) }}">Entrainements</a>
        </div>
    </div>

    <div class="row">
        {% for player in team.player %}
            {% if player.roles[0] == "ROLE_PLAYER" %}
                <div class="col-md-3 mb-2">
                    {% include('partials/_player_card.html.twig') %}
                </div>
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}
