{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block main %}



    <div class="d-flex flex-column align-items-center">
        <div class="col-lg-10 col-sm-12 p-2">
            <a href="{{ path('app_club_show', {'id': team.club.id}) }}">Retour</a>
        </div>

        <div class="col-lg-10 col-sm-12 p-2">
            {% include('partials/_team_card.html.twig') %}
        </div>

        {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_COACH') %}
            <div class="d-flex justify-content-center col-lg-10 col-sm-12 mb-5 p-2">
                <a class="new-custom-btn col-12 d-flex justify-content-center box-shadow"
                   href="{{ path('app_register') }}">Ajouter un membre</a>
            </div>
        {% endif %}

        <div class="d-flex flex-wrap col-lg-10 col-sm-12">
        {% for player in team.player %}
            {% if player.roles[0] == "ROLE_PLAYER" %}
                <div class="col-lg-2 col-sm-12 p-2">
                    {% include('partials/_player_card.html.twig') %}
                </div>
            {% endif %}
        {% endfor %}
        </div>

    </div>

{% endblock %}
