{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}

    {% for message in app.flashes('success') %}
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-lg-10 col-sm-12 alert alert-success">
                {{ message }}
            </div>
        </div>
    {% endfor %}

    <div class="bloc">
        <div class="d-flex justify-content-center align-items-center bloc-acceuil">
            <div class="col-lg-10 col-sm-12 welcome">
                <div>
                    <h2 class="text-center">Bienvenue chez You coach !</h2>
                    <h2 class="text-center mt-5 mb-5">L'app n°1 pour gérer une équipe ou un club de sport amateur </h2>
                    <p class="text-center">
                        Que vous soyez dirigeant de club ou entraîneur, simplifiez l'organisation et la communication
                        interne de votre groupe de sport amateur.</p>
                </div>
            </div>
            <div class="d-flex justify-content-center col-lg-10 col-sm-12 bloc-inscription mt-5">
                {% if is_granted('ROLE_MANAGER') %}
                    {% if app.user.club %}
                    {% else %}
                        <a class="col-lg-2 col-sm-12 btn custom-btn" href="{{ path('app_club_new') }}">Inscrire mon
                            club</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
