<footer class="main-footer box-shadow">
    <div class="contact">
        <a href="#"><img src="{{ asset('build/images/picto_facebook.png') }}"></a>
        <a href="#"><img src="{{ asset('build/images/picto_twitter.png') }}"></a>
        <a href="#"><img src="{{ asset('build/images/picto_linkedin.png') }}"></a>
        <a href="#"><img src="{{ asset('build/images/picto_youtube.png') }}"></a>
    </div>
    <div class="copyright">
        <p>
            @Copyright 2023 JA Production - Projet You Coach
        </p>
    </div>
</footer>
