<div class="bg-grey">
    <footer class="main-footer">
        <div class="container-fluid">
            <div class="row nous-rejoindre">
                <div class="col-md-6">
                    <p><span>Rejoignez plus de 10 000 clubs</span><br> et 90 000 équipes
                        en vous inscrivant dès aujourd’hui.</p>
                </div>
                <div class="col-md-6 d-flex justify-content-end align-items-center">
                    <a class="d-inline-block custom-btn text-center" href="#">Inscrire mon équipe</a>
                    <a class="d-inline-block custom-btn text-center ms-3" href="#">Inscrire mon club</a>
                </div>
            </div>
            <div class="row middle-footer">
                <div class="col-md-3">
                    <h5>Langues</h5>
                    <ul>
                        <li>English</li>
                        <li>Français</li>
                        <li>Espanol</li>
                        <li>Portugues</li>
                        <li>Italiano</li>
                        <li>Deutsch</li>
                        <li>Nederland</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>A propos de nous</h5>
                    <ul>
                        <li>Qui sommes-nous ?</li>
                        <li>Presse</li>
                        <li>Nous rejoindre</li>
                        <li>Plan du site</li>
                        <li>Blog</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Vous avez une question ?</h5>
                    <ul>
                        <li>FAQ</li>
                        <li>Envoyez-nous un mail</li>
                        <li>+33 1 02 03 04 05</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Fonctionnalités</h5>
                    <ul>
                        <li>Gestion d'équipe</li>
                        <li>Gestion de club</li>
                        <li>Retrouvez tout les sports</li>
                        <li>Football</li>
                        <li>Rugby</li>
                        <li>Volley</li>
                        <li>Basket</li>
                    </ul>
                </div>
            </div>
            <div class="row bottom-footer d-flex align-items-center">
                <div class="col-md-6 d-flex justify-content-between justify-content-md-start">
                    <a href="#">Mentions légales</a>
                    <a href="#">CGU</a>
                    <a href="#">Protection des données</a>
                </div>
                <div class="col-md-6">
                    <ul class="d-flex justify-content-md-end justify-content-between">
                        <li><a href="#"><img src="{{ asset('build/images/picto_facebook.png') }}"></a>
                        </li>
                        <li><a href="#"><img src="{{ asset('build/images/picto_twitter.png') }}"></a>
                        </li>
                        <li><a href="#"><img src="{{ asset('build/images/picto_linkedin.png') }}"></a>
                        </li>
                        <li><a href="#"><img src="{{ asset('build/images/picto_youtube.png') }}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

