.card-club {
  color: var(--dark);
  background-color: var(--tertiary-color);
  border-radius: var(--border-radius);
  padding: 1em;

  .card-image {

    img {
      height: 200px
    }
  }

  .card-content {

    a {
      text-decoration: none;
    }
  }
}

.card-club {
  position: relative;
}
.card-club > .link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}