.card-club {
  border-radius: var(--border-radius);
  padding: 1em;

  .card-image {

    .img100 {
      //height: 200px;
      width: 100%;
    }
    .img50 {
      width: 50%;
    }
  }

  .card-content {
    a {
      text-decoration: none;
    }
  }
}

.card-club {
  position: relative;
}
.card-club > .link {
  position: absolute;
  inset: 0;
  //top: 0;
  //right: 0;
  //bottom: 0;
  //left: 0;
}

.card-club-back {
  color: var(--light);
  background-color: var(--quaternary-color);
}

.card-team-back {
  color: var(--dark);
  background-color: var(--tertiary-color)
}