.card-club {
  backdrop-filter: var(--blur);
  border-radius: var(--border-radius);
  padding: 1em;

  p {
    margin: 0.15em;
  }

  .card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-down(sm) {
    justify-content: start;
  }

    .img50 {
      width: 50%;
      max-width: 200px;
    }
    .img100 {
      width: 100%;
      max-width: 200px;
    }
  }

  .card-content {
    a {
      text-decoration: none;
    }
  }
}

.card-club {
  position: relative;
}

.card-club > .link {
  position: absolute;
  inset: 0;
}

.card-club-back {
  color: var(--light);
  background-color: var(--quaternary-color);
}

.card-team-back {
  color: var(--dark);
  background-color: var(--tertiary-color)
}

.card-title-club {
  position: absolute;
  top: 0;
  right: 0;

  p {
    color: var(--light);
    font-family: var(--main-font-bold);
    font-size: 1.3em;
    padding: 0.5em;;
    border-bottom: 2px solid var(--light);
  }
}

.card-title-team {
  position: absolute;
  top: 0;
  right: 0;

  p {
    color: var(--dark);
    font-family: var(--main-font-bold);
    font-size: 1.3em;
    padding: 0.5em;
    border-bottom: 2px solid var(--dark);
  }
}