.main-header {
  background-color: var(--quaternary-color);
  display: flex;
  align-items: center;

  .logo {
    width: 120px;
  }

  .custom-toggler.navbar-toggler {
    border-color: white;

    .navbar-toggler-icon {
      width: 5em;
      height: 5em;
      background-image: url(
      "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }

  .navbar-nav {
    align-items: center;

    .dropdown-menu {
      background-color: var(--quaternary-color);

      p{
        margin: 0;
      }

      .dropdown-item {
        color: var(--light) !important;
      }

      .dropdown-item:hover {
        background-color: transparent;
      }

      .dropdown-item:active {
        background-color: transparent;
      }
    }

    .nav-link {
      //font-family: var(--main-font-bold);
    }
  }
}




@media (max-width: 992px) {

  .logo {
    width: 300px !important;
  }

  .nav-link {
    font-size: 2em !important;
    margin: 0 !important;
  }
}





