:root {
  --main-font: 'Montserrat';
  --main-font-light: 'Montserrat-light';
  --main-font-extrabold: 'Montserrat-extrabold';
  --main-font-bold: 'Montserrat-bold';
  --main-color: #443742;
  --secondary-color: #CEA07E;
  --tertiary-color: rgba(255, 255, 255, 0.85);
  --quaternary-color: rgba(0, 0, 0, 0.7);
  --light: rgb(255, 255, 255);
  --dark: rgb(0, 0, 0);
  --silver-color: #A5A5A5;
  --bronze-color: #B48152;
  --text-color: #D1D1D1;
  --border-radius: 5px;
}
