.bloc {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .bloc-acceuil {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .welcome {
      padding: 1em;
      background-color: var(--tertiary-color);
      border-radius: 5px;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        font-family: var(--main-font-bold);
        font-size: 3em;
        @include media-breakpoint-down(sm) {
          font-size: 1.9em;
        }
      }

      p {
        font-size: 2.5em;
        @include media-breakpoint-down(sm) {
          font-size: 1.4em;
        }
      }
    }
  }
}


