<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="description" content="L'app n°1 pour gérer une équipe ou un club de sport amateur">
    <meta name="keywords" content="Sport, Gestion, Club, Equipe">
    <script src="https://kit.fontawesome.com/8d231b4741.js" crossorigin="anonymous"></script>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    {% block body %}
        {% block header %}
                {% include('partials/new-header.html.twig') %}
        {% endblock %}
        <main>
            {% block main %}{% endblock %}
        </main>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
