{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="d-flex justify-content-end">
    <button class="btn custom-btn mt-3">{{ button_label|default('Bienvenue') }}</button>
</div>
{{ form_end(form) }}
