{% extends 'base.html.twig' %}

{% block title %}Modifier le club{% endblock %}

{% block main %}

    <div class="container d-flex flex-column justify-content-center align-items-center flex-grow-1">
        <div class="col-lg-10 col-sm-12">
            <a href="{{ path('app_club_show', {'id' : club.id}) }}">Retour</a>
        </div>
        <div class="col-lg-10 col-sm-12 mt-1 block-form box-shadow">
            <h1 class="mb-3">Modifier le club</h1>
            {{ include('club/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </div>

{% endblock %}
