{% extends 'base.html.twig' %}

{% block title %}Club{% endblock %}

{% block main %}

    <div class="d-flex flex-column align-items-center">

        <div class="col-lg-10 col-sm-12 p-2">
            {% include('partials/_club_card.html.twig') %}
        </div>

        {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_COACH') %}
        <div class="d-flex justify-content-center col-lg-10 col-sm-12 mb-5 p-2">
            <a class="new-custom-btn col-12 d-flex justify-content-center box-shadow" href="{{ path('app_team_new', {'id': club.id}) }}">Ajouter
                une équipe</a>
        </div>
        {% endif %}

        {% if teams %}
            {% for team in teams %}
                <div class="col-lg-10 col-sm-12 p-2">
                    {% include('partials/_team_card.html.twig') %}
                </div>
            {% endfor %}
        {% else %}
            <div class="col-lg-10 col-sm-12 p-2 d-flex justify-content-center align-items-center flex-column cool box-shadow">
                <p>Votre club ne compte aucune équipe actuellement.</p>
                <p>Cliquez sur le bouton ci-dessus pour créer votre première équipe !</p>
            </div>
        {% endif %}

    </div>

{% endblock %}