{% extends 'base.html.twig' %}

{% block title %}Club{% endblock %}

{% block main %}

    <div class="d-flex flex-column align-items-center">
        {% for team in club.team %}
            <div class="col-lg-10 col-sm-12 p-2">
                {% include('partials/_team_card.html.twig') %}
            </div>
        {% endfor %}
        <div class="col-lg-10 col-sm-12 d-flex justify-content-end">
            <a href="{{ path('app_club_index') }}">Retour à la liste</a>
        </div>
        <a class="btn custom-btn m-5" href="{{ path('app_team_new', {'id': club.id}) }}">Ajouter une équipe</a>
    </div>

{% endblock %}

{#   {% for team in club.team |filter(team => (team.active == true)) %}#}
{#       <div class="col-lg-10 col-sm-12 p-2">#}
{#           {% include('partials/_team_card.html.twig') %}#}
{#       </div>#}
{#   {% else %}#}
{#       <div class="col-lg-10 col-sm-12 p-2">#}
{#           <div class="card-club box-shadow">#}
{#               <p class="text-center">Ce club ne compte pas d'équipe pour le moment</p>#}
{#           </div>#}
{#       </div>#}
{#   {% endfor %}#}